{{- if .Site.IsServer -}} {{ "<!-- Layout: _default/baseof.html -->" |safeHTML }} {{- end -}}
 
<!DOCTYPE html>
  <html lang="en">
    <!-- head  -->
    {{ partial "head.html" . }}
    <body>
     
        <!-- header -->
        {{ block "header" . }}
          {{ partial "navigation.html" . }}
        {{ end }}
        <div id="barba-wrapper">
          <div class="barba-container" data-barba-namespace="home"> 
            <!-- Main -->
            {{ block "main" . }}
            
            {{ end }}
          </div>
        </div>
        <!-- footer -->
        {{ block "footer" . }}
          {{ partial "footer.html" . }}
        {{ end }}
     
      <!-- script -->
      {{ partial "script.html" . }}
    </body>
  </html>

{{- if .Site.IsServer -}} {{ "<!-- Layout: End_default/baseof.html -->" |safeHTML }} {{- end -}}