{{- if .Site.IsServer -}} {{ "<!-- Layout: partial/script.html -->" |safeHTML }} {{- end -}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha256-ABrLsV2caVEMCBfm3eNhv/CYQG+tGCqzw2f4b/Pag0M=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha256-v/YsEqWkVsiNHryCWg+vjC/eDBakMAgOsCJRa0kNPOg=" crossorigin="anonymous"></script>

  
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/barba.min.js"></script>
  <script src="/js/fullpage.js"></script>
  <script src="/js/fullpage.min.js"></script>
  <script src="/js/main.js"></script>

{{- if .Site.IsServer -}} {{ "<!-- Layout: End partial/script.html -->" |safeHTML }} {{- end -}}